@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
     margin: 0;
     padding: 0;
     font-family: "Work Sans", serif;
}
/* shared styles */
.brand{
    color: #131313;
 }
.display-flex{
    display: flex;
}
/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
padding: 0 .2cm;
}

/* navbar Styles */
.navbar{

    justify-content: space-between;
    align-items: center;
    padding: 20px 2cm;
}
.nav-links{

    gap: 30px;
    list-style: none;
}
.nav-brand{
    font-size: 2.1rem;
}
.nav-links li a{
    font-size: .8rem;
text-decoration: none;
color: #424242;
}
.navbar , .banner{
    max-width: 1138px;
    margin: 0 auto;
}

.banner{
    margin-top: 3rem;
}
.banner h1{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 3.5rem;
    color: #131313;
}
.banner p{
    line-height: 20px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: .8rem;
    color: #424242;
}
.button{
    text-align: center;
    margin: 20px 0;
}
.btn{
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: 2px solid #FF900E;
    background-color: #FF900E;
font-size: 1.2rem;
cursor: pointer;
}
.btn:hover{
background-color: transparent;
color: #FF900E;
}

.banner-image{

    max-width: 750px;
    margin: 0 auto;

}
.banner-image img{
 
    margin: 20px 0px 20px;
    width: 100%;
    border-radius: 5px;
}

/* responsive ness */
@media screen and (max-width:720px){
    .navbar , .nav-links{
        text-align: center;
        gap: 15px;
        flex-direction: column;
    }

    .nav-brand{
        width: 100%;
   
    }

    .header{
        padding: 0 ;
    }

}

/* main design  */
main{
    max-width: 900px;
    margin: 1.5cm auto;
    padding: 1cm;
}

.feature{
    max-width: 900px;

    margin: 1.5cm auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.feature div{
width: 47%;
}
.feature p{
font-size: .8rem;
margin: 18px 0;
line-height: 20px;
color: #727272;
}
.feature h1{
font-size: 2.7rem;

}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,48%);
    gap: 15px;
}
.image-container img{
    width: 100%;
}

/* responsiveness */
@media screen and (max-width:810px) {
    .feature{
        flex-direction: column;
        gap: 50px;
    }  

    .feature div{
        width: 100%;
      
    }
    main{

        padding: 0.5cm;
    }
}

.architect{
  
    max-width: 900px;
    margin: 1cm auto;
}
.architect-container{
    display: flex;
    gap: 50px;
    align-items: center;
}
.card-container{
    flex: 1;
}
.card-container> p{
  line-height: 20px;
  
}
.diff{
    margin-top: -2cm;
    margin-left: -.8cm;
}
.architect-image{
    flex: 1.5;
}
.architect-image img{
width: 100%;

 
}
.card{
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.card h1{
  font-size: 1.35rem;
}
.card p{
    line-height: 20px;
    font-size: .7rem;
    margin-top: 15px;
}


/* responsiveness */

@media screen and (max-width:980px){
    .architect-container{
        flex-direction: column;
    }
    .diff{
        margin-top: 20px;
        margin-left: 0;
    }
}

.facts{
    margin: 2.5cm auto 1cm;
    max-width: 900px;
}
.facts p{
    width: 55%;
    font-size: .8rem;
    line-height: 20px;
}

.cards-container{
    display: flex;
gap: 40px;
    width: 90%;
    margin: 1.8cm auto 0;
   

}
.cards{
    border: 2px solid #FF900E;
    display: flex;
    gap: 10px;
    flex: 1;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
border-radius: 7px;
}
.cards img{
    width: 20%;
}
.cards p{
width: 100%;
    font-size: .8rem;
    color: #727272;
    text-align: center;
}
/* reponsiveness */
@media  screen and (max-width:800px) {
    .cards-container{
        flex-direction: column;
        width: 50%;
    }
    .facts {
        text-align: center;
    }
    .facts p{
        width: 100%;
   text-align: center;
    }
}


.sponser{
    max-width: 900px;
    margin: 2cm auto 0cm;

}
.sponser h1{
font-size: 2.1rem;
}
.sponser p{
    width: 60%;
    text-align: center;
font-size: .8rem;
line-height: 22px;
margin:  0 auto;
}
.sponser-image{
    margin-top: 3rem;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}
.sponser-image img{
   width: 12%;
filter: grayscale(100%);


}


/* responsiveness */
@media   screen and (max-width:576px) {
    
    .sponser-image{
flex-direction: column;
    
    }
    .sponser-image img{
        width: 28%;
     
     
     }
     .sponser p{
        width: 95%
    
    }
}


footer{
    margin: 0 20px;
}
.footer{
    font-size: 1.2rem;
color: #424242;
border-radius: 10px;
    padding: 1.3cm .4cm;
    text-align: center;
    max-width: 880px;
    margin: 0 auto 2cm;
    background-color: #FFF4E7;
}


/* responsiveness */
@media screen and (max-width:576px){
    .footer{
        font-size: .8rem;
        line-height: 22px;
    }
}